  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Ether Checkout</h1>
      <p class="lead text-muted">Accept <strong>{{etherMarkets|length}}</strong> Ethereum tokens in our online store, we convert it to ETH or USD for you.</p>
      <p>
        <a href="#" class="btn btn-success">Start accepting Ethereum tokens now</a>
      </p>
    </div>
  </section>







<section class="text-muted text-center">
  <div class="container">
  
  {% for market in etherMarkets %}
    <div class="currency">
      <span>{{market['MarketCurrencyLong']|escape}} -  {{market['MarketName']}} {{market['Currency']}} </span>
      <span id="{{market['MarketName']|escape}}"></span>
    </div>
  {% endfor %}
  </div>

</section>